.container {
  width: 100vw;
  height: 100vh;
  background: beige;
}

.pointer {
  width: 2rem;
  height: 2rem;
  position: absolute;
  background: crimson;
  border-radius: 50%;
  top: -15px;
  left: -15px;
}
